<h1><%= @restaurant[:name] %></h1>
<p><%= @restaurant[:address] %></p>

<%= link_to "Restaurant reviews", restaurant_reviews_path(@restaurant) %>
<br>
<%= link_to "Back to restaurants", restaurants_path %>
